<style>
    .rating {
        margin: 0;
        padding: 0;
    }
    ul.rating {
        display: inline-block;
    }
    .rating li {
        list-style-type: none;
        display: inline-block;
        padding: 1px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
    }
    .rating .stars-css{
        display:inline-block;
        width: 16px;
        height: 16px;
        background:url(img/star/star-off.png) no-repeat center center;/*绝对路径*/
    }
    .rating .star-half{
        background-image:url(img/star/star-half.png);/*绝对路径*/
    }

    .rating .star-on{
        background-image:url(img/star/star-on.png);/*绝对路径*/
    }

</style>

<ul class="rating" ng-mouseleave="leave()">
    <li ng-repeat="star in stars"  ng-click="click($index + 1)" ng-mouseover="over($index + 1)">
        <i class="stars-css" ng-class="star"></i>
    </li>
</ul>