<style>
	.mydropdown {
		position: relative;
	}
	
	.mydropdown-nav {
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.mydropdown-nav span {
		display: inline-block;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	
	.mydropdown-content {
		display: none;
		position: absolute;
		z-index: 5;
		line-height: 20px;
		right: 100%;
		bottom: 0;
		width: 470px;
		max-width: 470px;
		min-height: 80px;
		max-height: 250px;
		margin-bottom: 0;
		padding: 8px 10px 10px 10px;
		white-space: normal;
		overflow-y: auto;
		background-color: #fff;
		box-shadow: 0 2px 12px rgba(0, 0, 0, .15);
		border-radius: 4px;
	}
	
	.mydropdown-content li {
		padding-top: 10px;
		border-top: 1px solid #eaeefb;
	}
	
	.mydropdown-content-title {
		text-align: center;
		font-size: 16px;
		font-weight: bold;
		height: 30px;
		line-height: 30px;
	}
	
	.mydropdown-content-title span {
		display: inline-block;
		position: relative;
		left: 41%;
		width: 30px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		border-radius: 3px;
	}
	
	.mydropdown-content-title span:hover {
		background-color: #F2FBFF;
	}
	
	.mydropdown-content li:first-child {
		margin-top: 0;
		padding-top: 2px;
		border-top: none;
	}
	
	.mydropdown:hover .mydropdown-content {
		display: block
	}
	
	.addRemarkList {
		white-space: normal !important;
	}
	
	.saveOkIcon {
		width: 30px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		margin-left: 363px;
	}
	
	.saveRemoveIcon {
		width: 30px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		margin-left: 5px;
	}
	
	.saveOkIcon:hover {
		background-color: #1ab394;
		border-radius: 3px;
	}
	
	.saveRemoveIcon:hover {
		background-color: #ed5565;
		border-radius: 3px;
	}
	
	.table tbody tr td {
		vertical-align: middle;
	}
</style>
<!--表格-->
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="ibox">
		<div class="ibox-title">
			<h5>待处理工单</h5>
			<div ibox-tools></div>
		</div>
		<div class="ibox-content">
			<!--条件筛选-->
			<nav class="form-inline">
				<div class="form-group m-r">
					<label class="form-label">开始日期</label>
					<div class="input-group date">
						<input type="datetime" class="form-control" date-time ng-model="where.startTime" view="date" auto-close="true" min-view="date" format="YYYY-MM-DD">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
				<div class="form-group m-r">
					<label class="form-label">结束日期</label>
					<div class="input-group date">
						<input type="datetime" class="form-control" date-time ng-model="where.endTime" view="date" auto-close="true" min-view="date" format="YYYY-MM-DD">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					</div>
				</div>
				<div class="form-group m-r">
					<label class="form-label">ASIN</label>
					<input class="form-control" ng-model="where.asin">
				</div>
				<div class="form-group m-r">
					<label class="form-label">处理状态</label>
					<select class="form-control" name="handle" id="handle" ng-model="where.handle">
						<option value="">请选择</option>
						<option value="0">未处理</option>
						<option value="1">处理中</option>
					</select>
				</div>
				<br>
				<div class="form-group m-t m-r">
					<label class="form-label">问题类型</label>
					<select multiple chosen class="form-control chosen-select" ng-model="where.type" style="width: 520px;">
						<option value="1">出现差评</option>
						<option value="2">总评价低于预警</option>
						<option value="3">评论数量变少</option>
						<option value="4">发现跟卖</option>
						<option value="5">ASIN被篡改</option>
						<option value="6">品牌被篡改</option>
						<option value="7">标题被篡改</option>
						<option value="8">简介被篡改</option>
						<option value="9">描述被篡改</option>
						<option value="10">主图被篡改</option>
						<option value="003">Lightning Deals</option>
						<option value="004">销售权限</option>
						<option value="005">品牌更改 </option>
						<option value="006">店铺IP问题</option>
						<option value="000">其它</option>
					</select>
				</div>
				<div class="form-group m-t">
					<button type="button" class="btn btn-primary btn-w-m" ng-click="handlePagination(1)">查 询</button>
					<button type="button" class="btn btn-default btn-w-m m-l" ng-click="resetFn()">重 置</button>
				</div>
			</nav>

			<!--表格-->
			<div class="row m-t-lg">
				<table class="footable table table-stripped toggle-arrow-tiny" data-paginate="10">
					<thead>
						<tr style="white-space: nowrap;">
							<th data-toggle="true">序号</th>
							<th>工单编号</th>
							<th>ASIN</th>
							<th>店铺</th>
							<th>类型</th>
							<th>创建人</th>
							<th>当前处理人</th>
							<th>组长</th>
							<th>小组名</th>
							<th>创建时间</th>
							<th>ASIN状态</th>
							<th>备注</th>
							<th>操作</th>
							<th data-hide="all">工单内容</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="value in tableList">
							<td>
								{{$index+1}}
							</td>
							<td>
								<span class="fa  {{ value.handle ? 'fa-flag' : 'fa-flag-o' }}" title="{{value.handle ? '处理中' : '未处理'}}" style="display: inline-block;padding:10px 10px 10px 0;" ng-click="toggleHandleState(value)"></span> {{value.orderID || '-'}}
							</td>
							<td>
								{{ value.asin || '-'}}
							</td>
							<td>
								{{value.shop_name || '-'}}
							</td>
							<td>
								{{value.type | typeState}}
							</td>
							<td>
								{{value.creator || '-'}}
							</td>
							<td>
								{{value.handler || '-'}}
							</td>
							<td>
								{{value.leader || '-'}}
							</td>
							<td>
								{{value.team_name || '-'}}
							</td>
							<td>
								{{value.createdAt | date:'yyyy-MM-dd HH:mm:ss' || '-'}}
							</td>
							<td>
								{{value.status || '-'}}
							</td>
							<td class="mydropdown" style="max-width: 150px;">
								<div class="mydropdown-nav">
									<span>{{value.remarks[0].content || '-'}}</span>
								</div>
								<ol class="mydropdown-content" ng-show="true" style="list-style: none;">
									<li class="mydropdown-content-title">历史备注<span class="fa fa-edit" title="添加备注" ng-click="operateRemark($index)"></span></li>
									<li class="addRemarkList" style="display: none;">
										<form name="addRemarkForm">
											<div>
												<textarea class="form-control" placeholder="请在此添加备注" name="remarkText" ng-model="remarkText.remark" rows="3" cols="10"></textarea>
											</div>
											<div>
												<span class="saveOkIcon glyphicon glyphicon-ok" ng-click="saveRemark(value, $index)"></span>
												<span class="saveRemoveIcon glyphicon glyphicon-remove" ng-click="operateRemark($index)"></span>
											</div>
										</form>
									</li>
									<li ng-repeat="remark in value.remarks">
										<span><i class="fa fa-user-circle" style="display: inline-block;margin-right: 10px;"></i> {{remark.writer.name}} </span>
										<span style="margin-left: 30%;"><i class="fa fa-clock-o" style="display: inline-block;margin-right: 13px;"></i> {{remark.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}} </span><br>
										<div style="display: inline;word-wrap: break-word;"><i class="fa fa-stack-exchange" style="display: inline-block;margin-right: 15px;"></i> {{remark.content || '-'}} </div>
									</li>
								</ol>
							</td>
							<td>
								<button class="btn btn-primary btn-outline btn-sm" type="button" ui-sref="main.workOrder.toDeal({id:value.id,fromPage:'main.workOrder.dealingOrder',currentPage:where.currentPage})">处理</button> &nbsp;&nbsp;&nbsp;
								<button class="btn btn-danger btn-outline btn-sm" type="button" ui-sref="main.workOrder.turnOrder({id:value.id,frompage:''})">转派</button>
							</td>
							<td ng-bind-html="value.content | trustHtml:value.type"></td>
						</tr>
					</tbody>
				</table>
				<lin-pagination></lin-pagination>
			</div>
		</div>
	</div>
	<div load-icon is-load="isLoad"></div>
</div>