<div class="wrapper wrapper-content  animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-title">
					<h5>知识库</h5>
				</div>
				<div class="ibox-content">
					<nav class="form-inline m-b text-right">
						<div class="btn-group pull-left">
							<button class="btn btn-white {{where.type==''?'active':''}}" ng-click="handlePagination(1,'')">全部</button>
							<button class="btn btn-white {{where.type=='pdf'?'active':''}}" ng-click="handlePagination(1,'pdf')">学习文档</button>
							<button class="btn btn-white {{where.type=='mp4'?'active':''}}" ng-click="handlePagination(1,'mp4')">学习视频</button>
							<button class="btn btn-white {{where.type=='doc+zip'?'active':''}}" ng-click="handlePagination(1,'doc+zip')">作业</button>
						</div>
						<div class="input-group">
							<input placeholder="请输入文件名搜索" class="form-control" ng-model="where.keyword" style="width: 768px;">
							<span class="input-group-btn"><button class="btn btn-white" ng-click="handlePagination(1,'')"><i class="fa fa-search"></i></button></span>
						</div>
					</nav>
					<article class="table-responsive">
						<table class="table table-hover issue-tracker">
							<thead ng-if="list.length">
								<tr>
									<td>文件名</td>
									<td width="200">标签</td>
									<td class="text-right">大小</td>
									<td width="400" style="padding-left:150px;">修改时间</td>
									<td width="112" class="text-center">操作</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in list">
									<td>
										<i ng-if="item.type==='pdf'" class="fa fa-file-pdf-o"></i>
										<i ng-if="item.type==='doc'" class="fa fa-file-word-o"></i>
										<i ng-if="item.type==='mp4'" class="fa fa-file-video-o"></i>
										<i ng-if="item.type==='zip'" class="fa fa-file-zip-o"></i>
										<span>{{ item.name }}</span>
									</td>
									<td style="display:block;width:200px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">{{ item.tips||'-' }}</td>
									<td class="text-right">{{ item.size }}</td>
									<td width="400" style="padding-left:150px;">{{ item.updated }}</td>
									<td width="112" class="text-center">
										<button class="btn btn-primary btn-outline btn-sm" ng-click="viewer(item)">
											<span ng-if="item.type==='pdf'">查看</span>
											<span ng-if="item.type==='mp4'">播放</span>
											<span ng-if="item.type==='doc'||item.type==='zip'">下载</span>
										</button>
									</td>
								</tr>
								<tr ng-if="list.length===0">
									<td colspan="5" class="text-center">文件夹空空如也</td>
								</tr>
							</tbody>
						</table>
						<lin-pagination></lin-pagination>
					</article>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="pdf-modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content" style="overflow: hidden;">
			<div class="modal-header" style="position:absolute;left:0;right:0;background-color:#fff;">
				<button class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{ modalName }}</h4>
			</div>
			<embed width="100%" height="768" id="pdf-content" style="vertical-align:top;"></embed>
		</div>
	</div>
</div>
<div class="modal fade" id="mp4-modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{ modalName }}</h4>
			</div>
			<div class="modal-body">
				<video controls></video>
			</div>
		</div>
	</div>
</div>