<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row" spellcheck="false">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-title">
					<h5>采购统计</h5>
				</div>
				<section class="ibox-content">
					<article class="form-inline m-b">
						<div class="form-group">
							<label>库存SKU&nbsp;</label>
							<input class="form-control">
						</div>
						<button class="btn btn-primary">搜索</button>
					</article>
					<table class="table table-striped" datatable="ng" dt-options="dtOptions">
						<thead>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in list">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</section>
			</div>
		</div>
	</div>
</div>